<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prototype Dashboards</title>
  </head>
  <body>
    <h1>Prototype Dashboards</h1>
    <ul>
      {{range .Dashboards}}
        <li><a href="/{{.Slug}}/">{{.Name}}</a></li>
      {{end}}
    </ul>
    <p>To publish something here, check out the <a href="https://github.com/mozilla/protodash">mozilla/protodash repository</a>.</p>
  </body>
</html>
