<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Prototype Dashboards</title>
    <style>
      a:not([href]) { text-decoration: underline; }
    </style>
  </head>
  <body>
    <h1>Prototype Dashboards</h1>
    {{if .Config.OAuthEnabled -}}
      {{if .User -}}
        <p>Logged in as {{.User.Email}} | <a href="/auth/logout">Log Out</a></p>
      {{- else -}}
        <p><a href="/auth/login">Log In</a></p>
      {{- end }}
    {{- end }}
    <ul>
      {{ range .Dashboards -}}
        {{if or (not $.Config.OAuthEnabled) $.User .Public -}}
          {{if .Subdomain -}}
          <li><a href="//{{.Slug}}.{{$.Config.BaseDomain}}">{{.Name}}</a></li>
          {{- else -}}
          <li><a href="/{{.Slug}}/">{{.Name}}</a></li>
          {{- end}}
        {{ else if $.Config.ShowPrivate -}}
          <li>🔒 <a>{{.Name}}</a></li>
        {{ end -}}
      {{ end -}}
    </ul>
    <p>To publish something here, check out the <a href="https://github.com/mozilla/protodash">mozilla/protodash repository</a>.</p>
  </body>
</html>
